:root {
  --sanSerifFamily: 'Kanit', Arial, Helvetica, sans-serif;
  --serifFamily: 'Taviraj', Georgia, 'Times New Roman', Times, serif;
  --tamboonOrchid: #9932cc;
  --tamboonOrchidFocused: #ba55d3;
  --tamboonPaleOrchid: #f5d6f4;
  --tamboonGray: #687389;
  --shadowGray: rgba(128, 128, 128, 0.4);
  font-family: var(--sanSerifFamily);
  color: var(--tamboonGray);
}

html {
  width: 100%;
}

body {
  width: 100%;
}

.mainHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: max(3vw, 10px);
}

.headerTitle {
  font-weight: 700;
  font-size: 170%;
  margin: 10px;
}

.headerDonationTotal {
  font-family: var(--sanSerifFamily);
  font-weight: 200;
  font-size: 140%;
  color: var(--tamboonOrchid);
}

.cardGrid {
  --columnWidth: 40vw;
  display: grid;
  grid-template-columns: repeat(2, var(--columnWidth));
  column-gap: 5vw;
  margin: 0 5vw;
}

@media (max-width: 700px) {
  .cardGrid {
    --columnWidth: 75vw;
    grid-template-columns: max(var(--columnWidth), 220px);
    margin: 0 10vw;
  }
}

.DonationOptionCard {
  --cardHeight: calc(var(--columnWidth) * 2 / 3);
  --overlayHeaderHeight: calc(var(--cardHeight) * 0.3);
  height: var(--cardHeight);
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: -2px 2px 5px var(--shadowGray);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* prevents background showing outside of overlay corners */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardFrontOverlay {
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  padding: 0 3vw;
  transition: height 300ms ease-out;
}

.cardFrontOverlay[data-open='true'] {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.overlayTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--overlayHeaderHeight);
}

.charityName {
  font-size: 120%;
  font-weight: 700;
}

.donateButton {
  font-family: var(--sanSerifFamily);
  background-color: white;
  border: 1px solid var(--tamboonOrchid);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--tamboonOrchid);
  cursor: pointer;
}

.closeOverlayButton {
  cursor: pointer;
}

.dialogContent {
  --contentHeight: calc(0.7 * var(--cardHeight));
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0ms;
}

.dialogContent[data-show='true'] {
  visibility: visible;
  height: var(--contentHeight);
  opacity: 1;
  transition: all 300ms ease-out 300ms;
}

.dialogContentGrid {
  display: grid;
  grid-template-rows: repeat(4 1fr);
  height: var(--contentHeight);
}

.donationsSoFar {
  color: var(--tamboonOrchid);
  font-weight: 200;
  font-style: italic;
}

.paymentOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px 0 0;
}

.paymentAmountRadioButton {
  width: 10px;
  height: 10px;
  border: solid 1px var(--tamboonGray);
  border-radius: 2px;
  background-color: white;
  margin: 0 5px;
}

.paymentAmountRadioButton[data-checked='true'] {
  background-color: var(--tamboonOrchid);
  border: solid 1px var(--tamboonOrchid);
}

.paymentAmount {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.paymentActionButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.payButton {
  font-family: var(--sanSerifFamily);
  background-color: var(--tamboonOrchid);
  border: 0;
  border-radius: 2px;
  padding: 4px 8px;
  height: 30px;
  color: white;
  cursor: pointer;
}

.payButton:hover {
  box-shadow: -1px 1px 3px var(--shadowGray);
}

.payButton:focus {
  box-shadow: -1px 1px 3px var(--shadowGray);
  background-color: var(--tamboonOrchidFocused);
}

@media (max-width: 400px) {
  .cardFrontOverlay[data-open='true'] .overlayTitle {
    height: calc(0.25 * var(--cardHeight));
  }

  .charityName,
  .donateButton,
  .dialogContent,
  .payButton {
    font-size: 12px;
  }

  .donateButton,
  .payButton {
    padding: 2px 4px;
    margin-left: 4px;
  }

  .payButton {
    height: 24px;
  }
}
