:root {
  --sanSerifFamily: 'Kanit', Arial, Helvetica, sans-serif;
  --serifFamily: 'Taviraj', Georgia, 'Times New Roman', Times, serif;
  --tamboonDarkOrchid: #2e0f3e;
  --tamboonOrchid: #9932cc;
  --tamboonOrchidFocused: #ba55d3;
  --tamboonPaleOrchid: #fcf5fc;
  --tamboonGray: #677289;
  --tamboonDarkGray: #4d5566;
  --shadowGray: rgba(128, 128, 128, 0.4);
  font-family: var(--sanSerifFamily);
  color: var(--tamboonDarkGray);
}

/* :::: Common ::::::::::: */

/* Bordered Button */

.borderedButton {
  font-family: var(--sanSerifFamily);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 4px 8px;
  cursor: pointer;
}

.borderedButton:lang(ja-JP) {
  min-width: 45px;
}

.borderedButton:hover {
  box-shadow: -1px 1px 3px var(--shadowGray);
}

.borderedButton:focus {
  box-shadow: -1px 1px 3px var(--shadowGray);
}

.primaryButton {
  background-color: var(--tamboonOrchid);
  border: 0;
  height: 30px;
  color: white;
}

.primaryButton:focus {
  background-color: var(--tamboonOrchidFocused);
}

.secondaryButton {
  background-color: white;
  border-color: var(--tamboonOrchid);
  color: var(--tamboonOrchid);
}

.closeOverlayButton {
  cursor: pointer;
}

.textLinkButton {
  border: 0;
  background-color: white;
  color: var(--tamboonDarkOrchid);
  width: 50px;
  padding: 5px;
  margin: 5px;
}

.textLinkButton:focus,
.textLinkButton:hover {
  color: var(--tamboonOrchid);
}

.textLinkButton[data-checked='true'] {
  border-bottom: solid 1px var(--tamboonDarkOrchid);
}

.textLinkButton[data-checked='true']:focus,
.textLinkButton[data-checked='true']:hover {
  border-bottom: solid 1px var(--tamboonOrchid);
}

/* Modal */

.modalScrim {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modalScrim[data-hascolor='true'] {
  background-color: rgba(40, 40, 40, 0.7);
}

.modal {
  width: 90vw;
  max-width: 600px;
  height: 30vh;
  max-height: 400px;
  background-color: white;
  border-radius: 2px;
  box-shadow: -1px 1px var(--shadowGray);
}

.mainHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: max(3vw, 10px);
}

.headerTitle {
  font-weight: 700;
  font-size: 170%;
  margin: 10px;
}

.headerDonationTotal {
  font-family: var(--sanSerifFamily);
  font-weight: 200;
  font-size: 140%;
  color: var(--tamboonOrchid);
}

.gratitudeMessageContainer {
  width: 100%;
  height: 24px;
  margin-bottom: max(6vw, 10px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gratitudeMessage {
  width: 90vw;
  max-width: 600px;
  height: 100%;
  border-radius: 4px;
  background-color: var(--tamboonPaleOrchid);
  color: var(--tamboonOrchidFocused);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  --columnWidth: 40vw;
  display: grid;
  grid-template-columns: repeat(2, var(--columnWidth));
  column-gap: 5vw;
  margin: 0 5vw;
}

@media (max-width: 700px) {
  .cardGrid {
    --columnWidth: 75vw;
    grid-template-columns: max(var(--columnWidth), 220px);
    margin: 0 10vw;
  }
}

.DonationOptionCard {
  --cardHeight: calc(var(--columnWidth) * 2 / 3);
  --overlayHeaderHeight: calc(var(--cardHeight) * 0.3);
  height: var(--cardHeight);
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: -2px 2px 5px var(--shadowGray);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* prevents background showing outside of overlay corners */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardFrontOverlay {
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  padding: 0 3vw;
  transition: height 300ms ease-out;
}

.cardFrontOverlay[data-open='true'] {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.overlayTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--overlayHeaderHeight);
}

.charityName {
  font-size: 120%;
  font-weight: 700;
}

.dialogContent {
  --contentHeight: calc(0.7 * var(--cardHeight));
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0ms;
}

.dialogContent[data-show='true'] {
  visibility: visible;
  height: var(--contentHeight);
  opacity: 1;
  transition: all 300ms ease-out 300ms;
}

.dialogContentGrid {
  display: grid;
  grid-template-rows: repeat(4 1fr);
  height: var(--contentHeight);
}

.donationsSoFar {
  color: var(--tamboonOrchid);
  font-weight: 200;
  font-style: italic;
}

.paymentOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px 0 0;
}

.paymentAmountRadioButton {
  width: 10px;
  height: 10px;
  border: solid 1px var(--tamboonGray);
  border-radius: 2px;
  background-color: white;
  margin: 0 5px;
}

.paymentAmountRadioButton[data-checked='true'] {
  background-color: var(--tamboonOrchid);
  border: solid 1px var(--tamboonOrchid);
}

.paymentAmount {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.paymentActionButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modalGridCell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modalGridCell.header {
  font-size: 160%;
  font-weight: 700;
}

.modalGridCell.message {
  font-size: 120%;
  font-weight: 500;
}

.modalGridCell.actionButtonCell {
  justify-content: flex-end;
}

.confirmPaymentModal {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  padding: 0 max(3vw, 10px);
  margin-top: 10vmin;
}

.confirmPaymentModal .modalGridCell.message {
  color: var(--tamboonOrchid);
}

.confirmPaymentModal .modalGridCell.guidance {
  font-weight: 200;
  font-style: italic;
}

.cancelButton {
  margin-right: max(6vw, 20px);
}

.errorAlertModal {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  padding: 0 max(3vw, 10px);
  margin-top: 10vmin;
}

.errorAlertModal .modalGridCell.header {
  color: var(--tamboonDarkOrchid);
}

.errorAlertModal .modalGridCell.message {
  color: var(--tamboonDarkGray);
}

.errorAlertModal pre {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: var(--tamboonPaleOrchid);
  color: var(--tamboonDarkGray);
}

.localeFooter {
  width: 90vw;
  margin: 0 5vw;
}

@media (max-width: 400px) {
  .cardFrontOverlay[data-open='true'] .overlayTitle {
    height: calc(0.25 * var(--cardHeight));
  }

  .charityName,
  .borderedButton {
    font-size: 12px;
  }

  .borderedButton:lang(ja-JP) {
    font-size: 10px;
    min-width: 52px;
  }

  .borderedButton {
    padding: 2px 4px;
    margin-left: 4px;
  }

  .primaryButton {
    height: 24px;
  }

  .donationsSoFar,
  .paymentAmountGuidance,
  .paymentAmountText {
    font-size: 80%;
  }

  .paymentAmountRadioButton {
    margin: 0 3px;
  }

  .modalGridCell > span {
    font-size: 80%;
  }
}
